* {
    margin: 0;
    padding: 0;
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
}

.square {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    pointer-events: none;
}

.hidden {
    display: none;
}

/* WILL BE REMOVED */

.board {
    border: 1px solid black;
}

.board > div {
    border: 1px solid red;
}