* {
    margin: 0;
    padding: 0;
}

.board-container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
}

.square {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

/* WILL BE REMOVED */

.board-container {
    border: 1px solid black;
}

.board-container > div {
    border: 1px solid red;
}