* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'CustomFont', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'CustomFont';
    src: url(./assets/Punkiss-d9ydE.otf);
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    align-items: stretch;
}

.square {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
    pointer-events: none;
}

.hidden {
    display: none;
}

button {
    font-family: 'CustomFont', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem;
}

.game-over > button {
    font-size: 1.5rem;
}

.board > * {
    font-size: 6rem;
}

label, .turn-detail {
    font-size: 2rem;
}

/* WILL BE REMOVED */

.board {
    border: 1px solid black;
}

.board > div {
    border: 1px solid red;
}